<header>
  <h1>Triptop</h1>
  <p>Create your perfect roadtrip playlist</p>
</header>
<button class="button-spotify" data-login>Login with Spotify</button>
<footer>
  Powered By
  <img src="/assets/spotify_logo.png" alt="Spotify" />
</footer>
