<main>
  <h1>Nice!</h1>
  <p>Your Triptop list is saved!</p>
  <img src='{{playlist.images.0.url}}' alt='Artwork of {{playlist.name}}'>
  <p>{{playlist.name}}</p>
  <a href='{{playlist.external_urls.0.url}}' class="button button-spotify">Open in Spotify</a>
  <a href='#trip-duration' class="button fixed-button">Generate another</a>
</main>