[class='/'] .button-spotify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[class='/'] footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    circle at bottom center,
    var(--orange),
    var(--orange) 50%,
    transparent 50%
  );
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 90% 50%;
  padding: 4rem 8rem 0 0;
  color: white;
  font-size: var(--step--1);
}

[class='/'] footer img {
  height: 5rem;
  width: auto;
  padding: 1.25rem;
}

[class='/'] {
  background: radial-gradient(
      circle at center -10%,
      var(--tertiary) 0%,
      var(--tertiary) clamp(20rem, 60vmin, 30rem),
      transparent clamp(20rem, 60vmin, 30rem)
    )
    no-repeat;
}

[class='/'] header {
  padding-top: var(--base-margin);
  display: grid;
  place-items: center;
  color: var(--secondary);
}

[class='/'] header * {
  max-width: 24rem;
  text-align: center;
}

[class='/'] header h1 {
  font-size: var(--step-5);
}

[class='/'] header p {
  font-size: var(--step-2);
}
