[class='/list-favourites'] hgroup {
  max-width: 50vw;
  padding: var(--step-1);
  color: var(--secondary);
  pointer-events: none;
}

[class='/list-favourites'] {
  background: radial-gradient(
      circle at 15vw -35vw,
      var(--orange),
      var(--orange) clamp(35rem, 60vw, 80rem),
      transparent clamp(35rem, 60vw, 80rem)
    )
    no-repeat;
}

[class='/list-favourites'] h2 {
  font-weight: 500;
}
