[class='/trip-duration'] h1 {
  padding: var(--step-1);
  width: 50vw;
  position: relative;
}

[class='/trip-duration'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(
      circle at 15vw -40vmax,
      var(--orange),
      var(--orange) clamp(40rem, 60vw, 80rem),
      transparent clamp(40rem, 60vw, 80rem)
    )
    no-repeat;
}

[class='/trip-duration'] main input {
  width: 100%;
}

[class='/trip-duration'] main {
  margin: auto;
  padding: 0 var(--base-margin);
}

@media screen and (max-height: 50rem) {
  [class='/trip-duration'] main {
    margin-bottom: 0;
  }
}
