[class='/trip-duration'] h1 {
  padding: var(--step-1);
  width: 50vw;
  position: relative;
}

[class='/trip-duration'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(
      circle at 29vmin 20vmin,
      var(--orange),
      var(--orange) 50vmin,
      transparent 50vmin
    )
    no-repeat;
}

@media screen and (min-width: 30rem) and (orientation: portrait) {
  [class='/trip-duration'] {
    background: radial-gradient(
        circle at 15vmin -5vmin,
        var(--orange),
        var(--orange) 50vw,
        transparent 50vw
      )
      no-repeat;
  }
}

@media screen and (min-width: 30rem) and (orientation: landscape) {
  [class='/trip-duration'] {
    background: radial-gradient(
        circle at 25vmin -30vmin,
        var(--orange),
        var(--orange) 50vw,
        transparent 50vw
      )
      no-repeat;
  }
}

@media screen and (min-width: 40rem) and (orientation: portrait) {
  [class='/trip-duration'] {
    background: radial-gradient(
        circle at 20vmin -20vmin,
        var(--orange),
        var(--orange) 50vw,
        transparent 50vw
      )
      no-repeat;
  }
}

@media screen and (min-width: 50rem) and (orientation: landscape) {
  [class='/trip-duration'] {
    background: radial-gradient(
        circle at 22vmin -25vmin,
        var(--orange),
        var(--orange) 50vw,
        transparent 50vw
      )
      no-repeat;
  }
}

@media screen and (min-width: 80rem) and (orientation: landscape) {
  [class='/trip-duration'] {
    background: radial-gradient(
        circle at 20vmin -50vmin,
        var(--orange),
        var(--orange) 80vmin,
        transparent 80vmin
      )
      no-repeat;
  }
}

[class='/trip-duration'] main input {
  width: 100%;
}

[class='/trip-duration'] main {
  margin: auto;
  padding: 0 var(--base-margin);
}

@media screen and (max-height: 50rem) {
  [class='/trip-duration'] main {
    margin-bottom: 0;
  }
}
